.website-title {
  text-align: center;
  display: inline-block;
  width: 33%;
}

.title-itself {
  margin-left: -20px;
  font-family: "Permanent Marker", cursive;
  font-size: 400%;
}

.first-image {
  display: inline-block;
  width: 33%;
}

.left-div-title {
  background-image: url("istockphoto-494663674-170667a.jpg");
}

.second-image {
  display: inline-block;
  width: 32%;
}

@media screen and (max-width: 985px) {
  .title-itself {
    margin-left: -20px;
    font-family: "Permanent Marker", cursive;
    font-size: 250%;
  }

  .website-title {
    text-align: center;
    width: 32%;
  }
  .first-image {
    display: inline-block;
    width: 32%;
  }
  .second-image {
    display: inline-block;
    width: 32%;
  }
}

@media screen and (max-width: 500px) {
  .title-itself {
    margin-left: -20px;
    font-family: "Permanent Marker", cursive;
    font-size: 150%;
  }

  .website-title {
    text-align: center;
    width: 32%;
  }
  .first-image {
    display: inline-block;
    width: 30%;
  }
  .second-image {
    display: inline-block;
    width: 30%;
  }
}

@media screen and (max-width: 250px) {
  .title-itself {
    margin-left: -20px;
    font-family: "Permanent Marker", cursive;
    font-size: 100%;
  }

  .website-title {
    text-align: center;
    width: 68%;
  }
  .first-image {
    display: inline-block;
    width: 15%;
  }
  .second-image {
    display: inline-block;
    width: 15%;
  }
}
